<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PTE 英语突击课程表</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- 引入 Element.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/deepcopy@1.0.0/dist/deepcopy.min.js"></script>

  <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

  <script src="./components.js"></script>

  <style>
    table {
      border-collapse: collapse;
      border: 1px solid #ccc;
    }

    th,
    td {
      border: 1px solid #ccc;
      padding: 10px 20px;
      text-align: center;
    }

    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .body h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="body" id="app">
    <h1>{{title}}</h1>
    <setting-dialog v-on:confirm-times="updateSchedule" v-bind:title="title" v-bind:times="times"></setting-dialog>
    <table>
      <thead>
        <th>时间</th>
        <th>周一</th>
        <th>周二</th>
        <th>周三</th>
        <th>周四</th>
        <th>周五</th>
        <th>周六</th>
        <th>周日</th>
      </thead>
      <tbody>
        <tr v-for="(time, timeIndex) in times" :key="timeIndex">
          <th>{{time.time}} {{time.intro}}</th>
          <td v-for="(day, index) in week">
            <span :contenteditable="getEditableStatus({day, timeIndex})" @dblclick="editCell({day, timeIndex}, $event)" @focusout="lostEditableStatus({day, timeIndex}, $event)">{{formatContent({day, timeIndex})}}</span>
          </td>
        </tr>
      </tbody>
    </table>


  </div>


</body>
<script src="./app.js"></script>

</html>